*{
	margin:0px;
	padding:0px;
}
#header{
	
	background-color: rgb(31, 46, 72);
    background-image:linear-gradient(135deg, rgb(16, 14, 33), rgb(31, 46, 72));
	width:auto;
	height:120px;
    margin:0px;
	/*border-radius: 0px 50px 0px 0px;
	box-shadow: 5px 5px 10px #666666;#ff794c*/


}

#img{
	padding:10px 0px 0px 50px;
	position:absolute;

}

.slogan{
	font-size:40px;
	font-family:'Titillium Web', sans-serif;
	float:right;
	margin-right:100px;
	margin-top:60px;
	font-style:italic;
	color:#ffffff;
	font-weight: bold;

}



.navbar{
	min-height:48px;
	background-color: rgb(31, 46, 72);
    background-image:linear-gradient(135deg, rgb(16, 14, 33), rgb(31, 46, 72));
	position:relative;
	border-top:3px solid #dddddd;
}
.navbar ul {
	margin:0px;
	padding:10px 0px 0px 0px;
	list-style:none;
	margin-left:20px;
}

.navbar li {
	float:left;
	position:relative;
	
}


.navbar li a{
	text-decoration:none;
	color:#bbbbbb;
	padding:12px;
	font-family:'Titillium Web', sans-serif;
}

.navbar li a.active,.navbar li a:hover{
	border-bottom: 8px solid #ffffff;
    color: #ffffff;
}

.box1{
	padding:1.5px;
	height:240px;
	width:296px;
	background-color:#3a3d77;
	float:left;
	margin-left:110px;
	box-shadow: 0px 5px 20px #aaaaaa;
	margin-top:40px;
}
.samsungs8font{
	color:white;
	font-size:23px;
	margin-left:10px;
	font-family:'Titillium Web', sans-serif;
}
.samsungs8fontprice{
	color:white;
	font-size:23px;
	margin-left:40px;
	font-family:'Titillium Web', sans-serif;
}

.box2{
	padding:1.5px;
	height:240px;
	width:296px;
	background-color:#3a3d77;
	float:left;
	margin-left:110px;
	box-shadow: 0px 5px 20px #aaaaaa;
	margin-top:40px;
}

.box3{
	padding:1.5px;
	height:240px;
	width:296px;
	background-color:#3a3d77;
	float:right;
	margin-right:110px;
	box-shadow: 0px 5px 20px #aaaaaa;
	margin-top:40px;
}

.box4{
	padding:1.5px;
	height:240px;
	width:296px;
	background-color:#3a3d77;
	float:left;
	margin-left:110px;
	box-shadow: 0px 5px 20px #aaaaaa;
	margin-top:50px;
}

.box5{
	padding:1.5px;
	height:240px;
	width:296px;
	background-color:#3a3d77;
	float:left;
	margin-left:110px;
	box-shadow: 0px 5px 20px #aaaaaa;
	margin-top:50px;
}

.box6{
	padding:1.5px;
	height:240px;
	width:296px;
	background-color:#3a3d77;
	float:right;
	margin-right:110px;
	box-shadow: 0px 5px 20px #aaaaaa;
	margin-top:50px;
}

.box7{
	padding:1.5px;
	height:240px;
	width:296px;
	background-color:#3a3d77;
	float:left;
	margin-left:110px;
	box-shadow: 0px 5px 20px #aaaaaa;
	margin-top:50px;
}

.box8{
	padding:1.5px;
	height:240px;
	width:296px;
	background-color:#3a3d77;
	float:left;
	margin-left:110px;
	box-shadow: 0px 5px 20px #aaaaaa;
	margin-top:50px;
}

.box9{
	padding:1.5px;
	height:240px;
	width:296px;
	background-color:#3a3d77;
	float:right;
	margin-right:110px;
	box-shadow: 0px 5px 20px #aaaaaa;
	margin-top:50px;
}

.box10{
	padding:1.5px;
	height:240px;
	width:296px;
	background-color:#3a3d77;
	float:left;
	margin-left:110px;
	box-shadow: 0px 5px 20px #aaaaaa;
	margin-top:50px;
	margin-bottom:30px;
}

.box11{
	padding:1.5px;
	height:240px;
	width:296px;
	background-color:#3a3d77;
	float:left;
	margin-left:110px;
	box-shadow: 0px 5px 20px #aaaaaa;
	margin-top:50px;
	margin-bottom:30px;
}

.box12{
	padding:1.5px;
	height:240px;
	width:296px;
	background-color:#3a3d77;
	float:right;
	margin-right:110px;
	box-shadow: 0px 5px 20px #aaaaaa;
	margin-top:50px;
	margin-bottom:30px;
}

footer {
	background-color: #222222;
	color: white;
	padding: 1em;
	text-align: center;
	height: 35px;
	float: bottom;
	margin-top: 1240px;
}

	