
.login > .foot{
	color:#a18d6c;
    padding-left:50px;
	margin-top:20px;
	margin-right:90px;
	background-color:#fff;
	border-radius:10px;
}


.login > .foot >.foot_to_login{
	color:#a18d6c;
}

.login > .signtxt{
	color:#a18d6c;
	background-color:#fff;
    padding-left:70px;
	margin-right:100px;
	border-radius:5px;
}
.login{
	position: absolute;
	height: 150px;
	width: 350px;
	padding: 10px;
	z-index: none;
	margin:150px 300px 300px 500px;
}

.login input[type=text]{
	width: 250px;
	height: 30px;
	background: transparent;
	border: 1px solid rgba(255,255,255,0.6);
	border-radius: 2px;
	color: #fff;
	font-size: 16px;
	font-weight: 400;
	padding: 4px;
}
.login input[type=email]{
	width: 250px;
	height: 30px;
	background: transparent;
	border: 1px solid rgba(255,255,255,0.6);
	border-radius: 2px;
	color: #fff;
	font-size: 16px;
	font-weight: 400;
	padding: 7px;
	margin-top: 10px;
}

.login input[type=password]{
	width: 250px;
	height: 30px;
	background: transparent;
	border: 1px solid rgba(255,255,255,0.6);
	border-radius: 2px;
	color: #fff;
	font-size: 16px;
	font-weight: 400;
	padding: 4px;
	margin-top: 10px;
}

.login input[type=button]{
	width: 260px;
	height: 35px;
	background: #fff;
	border: 1px solid #fff;
	cursor: pointer;
	border-radius: 2px;
	color: #a18d6c;
	font-family: 'Exo', sans-serif;
	font-size: 16px;
	font-weight: 400;
	padding: 6px;
	margin-top: 20px;
}

.login input[type=button]:hover{
	opacity: 0.8;
}

.login input[type=button]:active{
	opacity: 0.6;
}

.login input[type=email]:focus{
	outline: none;
	border: 1px solid white;
}

.login input[type=text]:focus{
	outline: none;
	border: 1px solid white;
}

.login input[type=password]:focus{
	outline: none;
	border: 1px solid white;
}

.login input[type=button]:focus{
	outline: none;
}




